<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><h3>Called and Chosen</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/articles"> <mark>Articles</mark></a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#about">About</a></li> -->
                <li class="nav-item"><a class="nav-link" routerLink="/profiles">Profiles</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/resources">Resources</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                <li><button type="button" class="btn btn-info">Donate</button></li>
            </ul>
        </div>
    </div>
</nav>
