<div class="team-member">
  <img class="mx-auto rounded-circle" src={{profile.image_url}} alt="..." />
    <h4>{{profile.name}}</h4>
    <p class="text-muted">{{profile.title}}</p>
    <a href="./individual_profiles/matt_sebastian.html"><button type="button" class="btn btn-success">Full Bio</button></a>
    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.facebook.com/mattsebastians"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.linkedin.com/in/mathewsebastian/"><i class="fab fa-linkedin-in"></i></a>
</div>
