<!-- About-->
<section class="page-section" id="about">
    <div style="padding-top: 2rem;" class="container">
	<div class="text-center">
	    <h2 class="section-heading text-uppercase">About</h2>
	    <h3 class="section-subheading text-muted">Our History and Evolution</h3>
	    <div style="padding-bottom: 2rem;">
	    <p>Called and Chosen is a Catholic Evangelization Ministry</p>
	    <p>Diocese of Raleigh’s Office of Evangelization and Discipleship provided this ministry with initial formation and support.</p>
	    <p>The CAC team entails a senior group of evangelists, spiritual directors, music & prayer ministers.</p>
	    <p>CAC is operating in accordance with and in obedience to the teachings of the magisterium of the Roman Catholic Church.</p>
	    </div>
	</div>
	<ul class="timeline">
	    <li>
		<div class="timeline-image"><img class="about-img rounded-circle img-fluid " src="../assets/img/about/start.jpg" alt="..." /></div>
		<div class="timeline-panel">
		    <div class="timeline-heading">
			<h4>2017-2019</h4>
			<h4 class="subheading">Our Humble Beginnings</h4>
		    </div>
		    <div class="timeline-body"><p class="text-muted">We started as a small prayer group in a local Catholic church within the Diocese of Raleigh.</p></div>
		</div>
	    </li>
	    <li class="timeline-inverted">
		<div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/portfolio/called-n-chosen-logo.jfif" alt="..." /></div>
		<div class="timeline-panel">
		    <div class="timeline-heading">
			<h4>March 2019</h4>
			<h4 class="subheading">We evolved into the Life in Christ Prayer Group</h4>
		    </div>
		    <div class="timeline-body"><p class="text-muted">Prayer Group members now comprise parishioners from multiple Catholic Churches within the Diocese of Raleigh.</p></div>
		</div>
	    </li>
	    <li>
		<div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/about/prayer-sq.jpg" alt="..." /></div>
		<div class="timeline-panel">
		    <div class="timeline-heading">
			<h4>September 2019</h4>
			<h4 class="subheading">First Diocesan Retreat in Raleigh</h4>
		    </div>
		    <div class="timeline-body"><p class="text-muted">Life in Christ prayer group is instrumental in working with members of the diocese to bring the first diocesan retreat focused on evangelization and the Charisms of the Holy Spirit.</p></div>
		</div>
	    </li>
	    <li class="timeline-inverted">
		<div class="timeline-image"><img class="rounded-circle img-fluid" src="../assets/img/about/hs-timeline.jpg" alt="..." /></div>
		<div class="timeline-panel">
		    <div class="timeline-heading">
			<h4>July 2020</h4>
			<h4 class="subheading">Expansion into Evangelization</h4>
		    </div>
		    <div class="timeline-body"><p class="text-muted">Life in Christ expands scope to address Evangelization by forming Called and Chosen Catholic Evangelization ministry, with support from the Diocese of Raleigh - Office of Evangelization. </p></div>
		</div>
	    </li>
	    <li class="timeline-inverted">
		<div class="timeline-image">
		    <h4>
			Be Part
			<br />
			Of Our
			<br />
			Story!
		    </h4>
		</div>
		<div class="timeline-panel">
		    <div class="timeline-heading">
			<h4>What You Can Do</h4>
		    </div>
		    <div class="timeline-body">
			<p class="text-muted">
			    <ul>
				<li class="text-muted">Invite people to workshop</li>
				<li class="text-muted">Could you be a prayer partner?</li>
				<li class="text-muted">Could we host this in your parish, within the Diocese of Raleigh?</li>
				<li class="text-muted">Be inspired to sponsor a workshop luncheon</li>
				<li class="text-muted">Join our intercessory team to intercede for future participants</li>
				<li class="text-muted">Have a Suggestion - <a routerLink="/contact"><button class="btn btn-success">Contact Us</button></a></li>
			    </ul>
		    </div>
		</div>
	    </li>
	</ul>
    </div>
</section>
<app-contact></app-contact>
