<!-- Services-->
<section class="page-section" id="services">
    <div style="padding-top: 2rem;" class="container">
	<div class="text-center">
	    <h2 class="section-heading text-uppercase">Resources</h2>
	    <h3 class="section-subheading"><strong> We offer monthly Called and Chosen workshops that offer direction and sense of purpose to people seeking hope amidst life's myriad challenges. Further, we offer weekly prayer and fellowship meetings to sustain and renew participants journey to faith and spirituality. We also offer annual retreats that help participants seek Jesus at a deeper level and offer greater insights to God's love and mercy.</strong></h3>
	</div>
	<div class="row" style="justify-content: center;">
	    <img src="../assets/img/about/Called-And-Chosen_Workshop_Flyer_Sep01-2021 (1).png" style="border-radius: 8px; width: 80%; height: 80%;" alt="">
	</div>
	<div class="row text-center">
	    <div class="col-md-4">
		<img class="mx-auto rounded-circle about-img" src="../assets/img/about/workshop_image.jpg" alt="..." />
		<h4 class="my-3"> Called and Chosen Workshops</h4>
		<p style="text-align: left;">
		    <strong>In our monthly workshops, we attempt to answer key questions around:</strong>
		    <ul class="list text-start text-muted">
			<li>
			    How can I grapple with situations around me? Am I alone in my struggles?
			</li>
			<li>
			    Is there hope in life? How can I fathom the creation around me?
			</li>
			<li>
			    Is it mere happenstance? Or is there intelligent design or a creator behind creation?
			</li>
			<li>
			    What does this mean for me in my life and my current situation?
			</li>
			<li>
			    What is life's purpose? Is there such a thing called salvation? What lies beyond life?
			</li>
			<li>
			    Can I find hope, peace and joy in this life? How and where can I explore answers to the above?
			</li>
		    </ul>


	    </div>
	    <div class="col-md-4">
		<img class="mx-auto rounded-circle about-img" src="../assets/img/about/prayer_meeting.jpg" alt="..." />
		<h4 class="my-3">Prayer & Fellowship</h4>
		<p style="text-align: left;" >
		    <strong>In our weekly prayer and fellowship meetings, our goal is:</strong>
		    <ul class="text-muted" style="text-align: left;">
			<li>
			    To provide an environment of prayer and praise that allows the Holy Spirit to speak powerfully to the hearts of the participants, open them to Jesus Christ, and help them strive for and grow toward intentional discipleship.
			</li>
			<li>
			    To deepen the prayer lives of participants and to enlighten them about their calling to spread the good news by seeking the Holy Spirit in their lives.
			</li>
			<li>
			    To broaden participants' knowledge of and openness to the gifts, fruits, and charisms of the Holy Spirit for greater works of evangelization.
			</li>
		    </ul>


	    </div>
	    <div class="col-md-4">
		<img class="mx-auto rounded-circle about-img" src="../assets/img/about/catholic_church_retreat.jpg" alt="..." />
		<h4 class="my-3">Discovery Retreats</h4>
		<p style="text-align: left;"><strong> During our annual Retreat, various theological areas are addressed through Gospel proclamation, personal testimonies, and reflections. Topics of the Retreat are: </strong>
		    <ul class="text-muted" style="text-align: left;">
			<li>'God’s Love: Encountering the unconditional, creative, inviting love of God.'</li>
			<li>'God’s Mercy: Experiencing the boundless mercy of God.'</li>
			<li>
			    'Knowing Jesus: A deep and personal relationship with Jesus Christ.'

			</li>
			<li>
			    'Following Jesus: Confirmation of discipleship.'

			</li>
			<li>
			    'Prayer: Becoming one in love with Christ.'

			</li>
			<li>
			    'Life in the Spirit: God’s unceasing giving and gifting.'
			</li>
		    </ul>


	    </div>
	</div>
	<div class="row text-center">
	    <div class="col-md-4">
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeizQHpJlHUw4FvIvDVNXkqlG-eCrgqmk9DU1893PG4R5x8yw/viewform?usp=sf_link"><button class="btn btn-success">Register for Our Upcoming Monthly Workshops</button></a>
	    </div>
	    <div class="col-md-4">
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScmA3MN6oYD0exz4sFk4QHP_WV-Ht8esi2SwnwAeGvOlVc68Q/viewform?usp=sf_link"><button class="btn btn-primary">Sign Up for Weekly Evangelization Prayer Meetings (On-site and Online options available)</button></a>
	    </div>
	    <div class="col-md-4">
		<a routerLink="/contact"><button class="btn btn-secondary">To Learn More About Our Discovery Retreats, Contact Us</button></a>
	    </div>
	</div>
	<div class="row" style="justify-content: center;">
	    <iframe src="https://calendar.google.com/calendar/embed?src=contact%40callednchosen.org&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
    </div>
</section>

<app-contact></app-contact>
