<!-- Team-->
<section class="page-section bg-light" id="team">
    <div style="padding-top: 2rem;" class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Get to Know Us!</h3>
        </div>
        <div class="row">
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[0]"></app-indiv-profile>
          </div>
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[1]"></app-indiv-profile>
          </div>
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[2]"></app-indiv-profile>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[3]"></app-indiv-profile>
          </div>
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[4]"></app-indiv-profile>
          </div>
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[5]"></app-indiv-profile>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[6]"></app-indiv-profile>
          </div>
          <div class="col-lg-4">
           <app-indiv-profile [profile]="profiles[7]"></app-indiv-profile>
          </div>
        </div>
    </div>
</section>

